<div class="container justify-content-center">
    <h1 class="my-3 text-center courier-prime-bold">Algoritmos de busqueda Interna</h1>
    <div class="row my-4">
        <div class="col-6 courier-prime-bold px-5">
            <button [routerLink]="['/busqueda-lineal']" class="btn custom-list-btn text-start"><strong><i class="bi bi-caret-right-fill"></i>Busqueda Lineal</strong></button>
        </div>
        <div class="col-6 courier-prime-bold px-5">
            <button routerLink="" class="btn custom-list-btn text-start" [routerLink]="['/hash']"><strong><i class="bi bi-caret-right-fill"></i>Funciones Hash</strong></button>
        </div>
    </div>
    <div class="row my-4">
        <div class="col-6 courier-prime-bold px-5">
            <button [routerLink]="['/busqueda-binaria']" class="btn custom-list-btn text-start"><strong><i class="bi bi-caret-right-fill" ></i>Busqueda Binaria</strong></button>
        </div>
        <div class="col-6 courier-prime-bold px-5">
            <button [routerLink]="['/arbol-digital']" class="btn custom-list-btn text-start"><strong><i class="bi bi-caret-right-fill" ></i>Árbol Digitalq</strong></button>
        </div>
    </div>
</div>